B286413-2025 <some_silly_email@example.com> Daniela Algranati <s2883992@bioinfmsc8.bio.ed.ac.uk>
B286413-2025 <some_silly_email@example.com> algra2001 <dandush1001@gmail.com>
B286413-2025 <some_silly_email@example.com> s2883992 <dandush1001@gmail.com>

